@{
    ViewData["Title"] = "Home";
}

<h1 class="poppins-bold">Selamat Datang di Rental Mobil Kami</h1>
<div class="search-container">
    <div class="search-box">
        <label for="pickup-date" class="poppins-regular">Pickup Date</label>
        <input type="date" id="pickup-date">
    </div>
    <div class="search-box">
        <label for="return-date" class="poppins-regular">Return Date</label>
        <input type="date" id="return-date">
    </div>
    <div class="search-box">
        <label for="filter-year" class="poppins-regular">Filter Tahun Pembuatan</label>
        <select id="filter-year">
            <option>Semua Tahun</option>
            <option>2024</option>
            <option>2023</option>
            <option>2022</option>
        </select>
    </div>
    <button class="btn mx-small" onclick="calculateDifference()" id="searchBtn">Cari</button>
    <div id="result" class="danger"></div>
</div>

<div id="wrapper-car-list">
</div>

@await Html.PartialAsync("Component/component-car-list");

@section Scripts {
    <script>
        $(document).ready(function () {
            var app = {};

            app.getReq = function (url, params) {
                return new Promise(function (resolve, reject) {
                    $.ajax({
                        type: "GET",
                        url: url,
                        data: params,
                        success: function (response) {
                            resolve(response);
                        },
                        error: function (error) {
                            reject(error);
                        },
                        contentType: "application/json"
                    });
                });
            };

            async function getCarList() {
                try {
                    let carListResponse = await app.getReq("/Car/GetCar");

                    if (carListResponse && carListResponse.data) {
                        return carListResponse.data;
                    } else {
                        alert("No car data found");
                    }
                } catch (error) {
                    alert("Error fetching car list: " + error.message);
                }
            }

            async function initPage() {
                const carList = await getCarList();

                const templateCarList = _.template(
                    $("#component-car-list").html()
                );

                $("#wrapper-car-list").html(
                    templateCarList({
                        data: carList
                    })
                );
            }

            $("#searchBtn").on("click", async function () {
                const pickUpDate = $("#pickup-date").val();
                const returnDate = $("#return-date").val();

                if ((pickUpDate && returnDate) && (returnDate > pickUpDate)) {
                    await initPage();
                }
            });
        });
    </script>
}
