@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/auth.css" asp-append-version="true" />
    <title>RentCar - Login</title>
</head>
<body>
    <div class="container">
        <h2>Login ke <span><a asp-area="" asp-controller="Home" asp-action="Index">RentCar</a></span></h2>
        <form id="loginForm">
            <div class="form-group">
                <label for="txtEmail">Email</label>
                <input type="text" id="txtEmail" placeholder="Masukkan email Anda">
                <div id="email-error" class="danger error-text"></div>
            </div>

            <div class="form-group">
                <label for="txtPassword">Password</label>
                <input type="password" id="txtPassword" placeholder="Masukkan password Anda">
                <div id="password-error" class="danger error-text"></div>
            </div>

            <button type="submit" id="btnLogin" class="btn w-full">Login</button>

            <p class="link">Belum punya akun? <a asp-area="" asp-controller="Auth" asp-action="Register">Registrasi disini</a></p>
        </form>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            var app = {};

            app.postReq = function (url, params) {
                return new Promise(function (resolve, reject) {
                    $.ajax({
                        type: "POST",
                        url: url,
                        data: JSON.stringify(params),
                        success: function (response) {
                            resolve(response);
                        },
                        error: function (error) {
                            reject(error);
                        },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json"
                    })
                });
            }

            async function loginCustomer(param) {
                try {
                    let loginCustomerResponse = await app.postReq("/Auth/LoginCustomer", param);

                    if (loginCustomerResponse.statusCode === 200) {
                        window.location.href = "/Home/Index";
                    } else {
                        alert("Error: " + loginCustomerResponse.message);
                    }
                } catch (error) {
                    console.error("Login failed:", error);
                    alert("Error during login.");
                    return false;
                }
            }

            function validateRequest() {
                let isValid = true;
                $(".error-text").html("");

                const email = $("#txtEmail").val();
                const password = $("#txtPassword").val();

                if (!email) {
                    $("#email-error").html("Email cannot be empty");
                    isValid = false;
                }

                if (!password) {
                    $("#password-error").html("Password cannot be empty");
                    isValid = false;
                }
                if (isValid) {
                    return {
                        email: email,
                        password: password
                    };
                }

                return null;
            }

            $("#loginForm").on("submit", async function (event) {
                event.preventDefault();

                const param = validateRequest();
                if (param) {
                    await loginCustomer(param);
                }
            });
        });
    </script>
</body>
</html>
